* {
    box-sizing: border-box;
}


/* Gaya Body */

.body {
    font-family: Tahoma;
    margin: 0;
}


/* Gaya Header*/

.header {
    font-family: Verdana;
    text-size-adjust: 50%;
    padding: 60px;
    text-align: left;
    background: #132743 url("https://1.bp.blogspot.com/-DvXB58mhZ1I/X33MsLGPmUI/AAAAAAAAEuo/TB6cHhpRQL8X-C3DN60XdI2bHLdQBGRzQCLcBGAsYHQ/s0/bg-header-1.jpg");
    background-size: max-width: 513px;
    color: #132743;
}


/* navigasi */

.topnav {
    background-color: #a6b1e1;
    overflow: hidden;
}


/* link navigasi */

.topnav a {
    float: left;
    display: block;
    color: #132743;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* navigasi aktif */

.active {
    background-color: #a6b1e1;
    color: black;
}


/* mengganti link dgn ikon */

.topnav .icon {
    display: none;
}


/* dropdown */

.dropdown {
    float: left;
    overflow: hidden;
}


/* efek dropdown */

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #132743;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* tombol dropdown */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a6b1e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* link dlm dropdown */

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* background dropdown */

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}


/* dropdown abu-abu */

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}


/* animasi dropdown */

.dropdown:hover .dropdown-content {
    display: block;
}


/* layout max lebar dropdown */

@media screen and (max-width: 513px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}


/* mediaquery */

@media screen and (max-width: 513px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}


/* Kolom */

.row {
    display: flex;
    flex-wrap: wrap;
}


/* Dua Kolom */


/* Sidebar/Kolom Kiri */

.asside {
    flex: 30%;
    background-color: #a6b1e1;
    padding: 20px;
    text-align: justify;
}


/* Kolom Utama */

.main {
    flex: 70%;
    background-color: #f4eeff;
    padding: 20px;
    text-align: justify;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #132743;
    color: white;
}

@media screen and (max-width: 513px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}